:host {
    display:flex;
}

.left-side-barrel {
    display:flex;
    flex-direction: column;
    padding:12px;

    .left-side-container {
        width:100px;
        min-height:30px;
        padding:4px;
        margin:1px;
        border:1px solid #cacaca;
    }
}