<div class="left-side-barrel" >
    <div class="left-side-container" *ngFor="let item of dataItems">
        <div >
            {{item.name}}
        </div>
    </div>
    <div class="button-area" >
        <button type="button" (click)="addItemClicked()" >Add Item</button>
    </div>
</div>